// ブレイクポイント
$sp: 767px;
// レイアウト幅
$pc: 1152px;

// レスポンシブ
@mixin sp {
    @media screen and (max-width:$sp) {
        @content;

    }
}


// ブログ記事img
// SP
$col2: 80%;
// PC
$col3: 30%;

header {
    @include sp {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: white;
        width: 100%;
        padding: 5px;

    }

    .logo {
        display: none;

        @include sp {
            display: block;
            width: 25%;
            margin: 0px auto;
            z-index: 3;
        }

        img {
            width: 100%;
        }
    }

    .nav {
        .menu {
            display: flex;
            justify-content: end;
            padding: 70px 0;

        }

        .menu-item {
            padding-right: 50px;

        }
    }
}

// sp時ハンバーガーメニュー
@include sp {
    header {
        .nav {
            .menu {
                position: fixed;
                top: 0;
                right: 0;
                z-index: -1;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: white;
                opacity: 0;
            }

            .menu-item {
                width: 100%;
                height: auto;
                padding: .5em 1em;
                text-align: center;
                color: black;
                box-sizing: border-box;
            }

            /*----------------------------
* アニメーション部分
*----------------------------*/

            /* アニメーション前のメニューの状態 */
            .menu {
                transform: translateX(-100vw);
                transition: all .3s linear;
            }

            /* アニメーション後のメニューの状態 */
            .menu.is-active {
                transform: translateY(0);
                opacity: 90%;
            }

            /* ハンバーガーアニメーション */
            .menu-trigger,
            .menu-trigger span {
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
            }

            .menu-trigger {
                position: fixed;
                top: 14vw;
                margin-right: 5vw;
                right: 1vw;
                z-index: 2;
                width: 24px;
                height: 32px;
                background: none;
                border: none;
                appearance: none;
                cursor: pointer;
            }

            .menu-trigger span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: gray;
                border-radius: 4px;
            }

            .menu-trigger span:nth-of-type(1) {
                top: 0px;
            }

            .menu-trigger span:nth-of-type(2) {
                top: 9px;
            }

            .menu-trigger span:nth-of-type(3) {
                bottom: 11px;
            }

            /* ここからハンバーガーメニューのアニメーション */
            .menu-trigger span:nth-of-type(1) {
                animation: menu-bar01 .5s forwards;
            }

            @keyframes menu-bar01 {
                0% {
                    transform: translateY(9px) rotate(45deg);
                }

                60% {
                    transform: translateY(9px) rotate(0);
                }

                85% {
                    transform: translateY(9px) rotate(0);
                }

                100% {
                    transform: translateY(0) rotate(0);
                }
            }

            .menu-trigger span:nth-of-type(2) {
                transition: all .25s .25s;
                opacity: 1;
            }

            .menu-trigger span:nth-of-type(3) {
                animation: menu-bar03 .5s forwards;
            }

            @keyframes menu-bar03 {
                0% {
                    transform: translateY(-9px) rotate(135deg);
                }

                60% {
                    transform: translateY(-9px) rotate(0);
                }

                85% {
                    transform: translateY(-9px) rotate(0);
                }

                100% {
                    transform: translateY(0) rotate(0);
                }
            }

            .menu-trigger.active span:nth-of-type(1) {
                animation: active-menu-bar01 .5s forwards;
            }

            @keyframes active-menu-bar01 {
                0% {
                    transform: translateY(0) rotate(0);
                }

                70% {
                    transform: translateY(9px) rotate(0);
                }

                85% {
                    transform: translateY(9px) rotate(0);
                }

                100% {
                    transform: translateY(9px) rotate(405deg);
                }
            }

            .menu-trigger.active span:nth-of-type(2) {
                opacity: 0;
            }

            .menu-trigger.active span:nth-of-type(3) {
                animation: active-menu-bar03 .5s forwards;
            }

            @keyframes active-menu-bar03 {
                0% {
                    transform: translateY(0) rotate(0);
                }

                70% {
                    transform: translateY(-9px) rotate(0);
                }

                85% {
                    transform: translateY(-9px) rotate(0);
                }

                100% {
                    transform: translateY(-9px) rotate(495deg);
                }
            }
        }
    }
}


main {
    max-width: $pc;
    margin: 0 auto;



    #kv {
        position: relative;
        padding: 0 5.555556%;

        @include sp {
            padding: 0;
        }

        .posimg1 {
            position: absolute;
            z-index: 1;
            width: 21.006944%;
            top: -26.651982%;
            left: 0;

            @include sp {
                display: none;
            }
        }

        .posimg2 {
            position: absolute;
            z-index: 1;
            top: 52%;
            right: 3px;
            left: unset;
            width: 42.96875%;

            @include sp {
                top: 3vw;
                right: unset;
                width: 100%;
            }

            img {
                @include sp {
                    width: 64.5vw;
                }
            }
        }

        .mainvisual {
            max-width: 1024px;
            margin: 0 auto;
            position: relative;
            .pcimg{
                @include sp {
                    display: none;
                }
                
               
            }
            

            
        }
        .slick-slider{
            margin: 0;
            padding: 0;
          }
          .slick-slider picture {
            width: 100%;
            height: 100%;
          }   
    }

    .text {
        font-size: 24px;
        margin: 5px 0;

        @media screen and (max-width:1000px) {
            font-size: 18px;
        }

        @include sp {
            text-align: center;
            font-size: 4vw;
        }

        .br {
            display: none;

            @include sp {
                display: block;

            }
        }
    }

    // KVここまで
    .main-title{
        margin-top: 100px;
    }

    .latest.article {
        max-width: 1024px;
        margin: 0 auto;

        @include sp {
            width: $col2;
            margin: 0 auto;
        }
    }

    h1 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .la {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;

        @include sp {
            display: block;
        }

    }

    .article-wrap {
        width: 320px;
        margin-bottom: 30px;
        padding-bottom: 10px;
        position: relative;
        p {
            padding: 10px 10px 0 10px;
        }
    

        .pic {
            img {
                width: 100%;
            }
        }

        @include sp {
            width: 100%;
        }
    }

    .tr {
        position: relative;
        // width: 102px;
    }

    .tr:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -1px;
        /*線の上下位置*/
        display: inline-block;
        width: 25px;
        /*線の長さ*/
        height: 1px;
        /*線の太さ*/
        // -webkit-transform: translateX(-50%);
        // transform: translateX(-100%);
        /*位置調整*/
        background-color: black;
        /*線の色*/
        border-radius: 2px;
        /*線の丸み*/
        transition: width 0.3s ease-in-out;

    }

    
    .readmore {
        text-align: right;
        padding: 150px 10px 0 0;
    }

    .readmore1 {
        text-align: right;
        padding: 130px 10px 0 0;
    }

}

.article-wrap:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
    border-color: transparent;

    .tr:after {
        width: 102px;
    }
}

// もっと見るボタン
.more {
    text-align: center;
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;
    

    button {
        position: relative;
        border: none;
        background: none;
        cursor: pointer;

        p {
            border: solid 1px;
            padding: 20px;
        }
       

        // &::after {
        //     color: #2165c0;
        //     position: relative;
            
        //     font-weight: 900;
        //     font-size: 1em;
        //     content: "\f055";
        //     padding-left: 10px;
        // }
        
   
    }
}

/* もっと見るの非表示 */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 10px;
  padding: 0;
}
footer {
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;

}

@media screen and (min-width:$sp) {
   .spimg{

   display: none;
        }
    }