.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
ul{
    display: flex;
    margin-right: 90px;
   
}
.header-left img{
    position: relative;
    z-index: 2;
    bottom: -100px;
    right: -100px;
} 
source{
    position: absolute;
    z-index: 1;
}
li{
    margin-top: 150px;
    padding-right: 50px;
}
.kv-wrap{
    position: absolute;
    z-index: 2;
    top: 484px;
    right: 150px;
}
.text{
   margin-left: -60px;
}

h1{
    margin-top: 80px;   
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.la{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-right: 80px; */
    margin-bottom: 50px;
}
.article-wrap{
    width: 320px;
}
p{
    padding: 5px 15px;
}
.readmore{
    text-align: right;
    padding: 100px 0 20px;
}
.readmore1{
    text-align: right;
    padding: 78px 0 20px;
}
.main-titile{
    max-width: 1024px;
     margin: 0 auto;
}
footer{
    margin-top: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0;   
}
@media screen and (max-width: 767px){
    .header-left img{
        position: static;
        margin-top: 30px;
    }
    .header{
        display: block;
    }
    .header-left{
        text-align: center;
    }
    ul{
        display: none;
    }
    .kv{
        position: relative;
    }
    .kv-wrap{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .mainvisual{
        margin-top: 20px;
    }
    .text{
        text-align: center;
    }
    
    h1{
        font-size: 50px;
    }
    .article-1{
        display: block;
    }
    .article-2{
        display: block;
    }
}